@use "../variables/colors-3cpc";

button {
  background-color: #fff;
  border-radius: 100px;
  font-family: inherit;
  font-size: inherit;
  height: 3rem;
  width: 9rem;
  border: none;
}

.button {
  &--card1 {
    color: colors-3cpc.$color-first-section;
  }

  &--card2 {
    color: colors-3cpc.$color-second-section;
  }

  &--card3 {
    color: colors-3cpc.$color-third-section;
  }
}
