@use "../variables/colors-3cpc";

html {
  font-family: "Lexend Deca", sans-serif;
}

.card-information {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  background-color: colors-3cpc.$color-first-section;
  color: #fff;
  margin: 5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &__icon {
    height: 40px;
    width: 68px;
  }

  &__title {
    font-family: "Big Shoulders Display", cursive;
    font-size: 3rem;
    line-height: 2rem;
    opacity: 0.7;
  }

  &__description {
    font-size: 1.5rem;
    line-height: 2rem;
    opacity: 0.7;
  }
}
